<h1>Teachers#edit</h1>
<p>Find me in app/views/teachers/edit.html.erb</p>

<h2> You are logged in as <%= @teacher.name %> </h2>

<h3>Edit Profile</h3>

<%= render 'form' %>

<%= link_to 'Back', parents_path %>
